@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-abyss: #050507;
	--color-carbon: #101010;
	--color-chat-main: #141414;
	--color-warm-charcoal: #3d3a39;
	--color-signal: #00d992;
	--color-mint: #2fd6a1;
	--color-snow: #f2f2f2;
	--color-parchment: #b8b3b0;
	--color-steel: #8b949e;
	--color-dashed-slate: #4f5d75;
}
